<!Doctype HTML>
<html 
	xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "http://www.thymeleaf.org"
	xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset = UTF-8/>
		<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel = "stylesheet" />
	</head>
	<body>
		<!-- 
		<div th:insert="~{Menu :: menu}"></div>		
		
		
		<div class = "card" style = "margin: 10px">
			<div class = "card-header">
				<h1 class = "card-title">Lista de Profesores Cadastrados</h1>
			</div>
			
			<div class = "card-body">
				<form class="form-inline" method="POST" th:object="${professor}" th:action="@{/Professores}" style="margin: 20px 0">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}"/>
						<select class="form-control" th:field="*{area.id}">
							<option th:each="area : ${areas}" th:value="${area.id}" th:text="${area.disciplina}"></option>
						</select>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</form>
				
				<table class = "table">
					<thead>
						<tr>
							<th>#</th>
							<th>Professor</th>
							<th>Área</th>
							<th>Editar</th>
							<th>Excluir</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each = "professor : ${professores}">
							<td th:text="${professor.id}" />
							<td th:text="${professor.nome}" />
							<td th:text="${professor.area.disciplina}" />
							<td>
								<a class="btn btn-primary" th:href="@{/Professores/{id} (id=${professor.id})}">
									Editar
								</a>
							</td>
							<td>
								<a class="btn btn-warning" th:href="@{/Professores/{id} (id=${professor.id})}">
									Excluir
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		-->
	</body>
</html>