<!Doctype HTML>
<html 
	xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset = UTF-8/>
		<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel = "stylesheet" />
	</head>
	<body>
		<div class = "card" style = "margin: 10px">
			<div class = "card-header">
				<h1 class = "card-title">Excluir Carro</h1>
			</div>
			
			<div class = "card-body">
				<div class="alert alert-warning">
					Deseja realmente excluir o carro?
				</div>
				<form class="form-inline" method="DELETE" th:object="${carro}" th:action="@{/carros/deletar/{id} (id=${carro.id})}" 
					style="margin: 20px 0">
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Sim</button>
						&nbsp;
						<a th:href="@{/carros}">
							<button type="button" class="btn btn-danger">Não</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>